############################
# OS
############################
.DS_Store
Thumbs.db

############################
# Eclipse
############################
.metadata/
.recommenders/

############################
# IntelliJ
############################
.idea/
*.iml

############################
# Build 결과물
############################
/target/
/bin/
/build/
/out/
*.class

############################
# Server
############################
Servers/

############################
# Logs
############################
*.log

############################
# API 키 파일 (중요!)
############################
src/config.properties